
body {
    background-color: #bed7f7;
    font-family: Arial, sans-serif;
    padding: 40px;
}

h1 {
    color: #173b8f;
    font-size: 42px;
}

h2 {
    color: #2563eb;
}
.logo {
    width: 80px;
    display: block;
    margin-bottom: 20px;
}

.content {
    display: flex;
}

.text-content {
    text-align: left;
}